@inject HanifStore.Services.IOrderService _orderService


<li class="nav-item">
    <a id="user-name" class="nav-link text-dark"> @User.Identity.Name </a>
</li>
<li class="nav-item">
    <a id="log-out" class="nav-link text-dark" asp-controller="Users" asp-action="Logout"> Logout </a>
</li>
<li class="nav-item">
</li>
<li>
    <img src="~/img/customer.png" style="width:30px; border-radius:50%; margin:2px;" />
    <a asp-controller="order" asp-action="cart"><span class="badge badge-customize">@_orderService.getShoppingCartItemCountByCustomerId(userName: User.Identity.Name)</span></a> 
</li>